@import './/../styles/fonts';
@import './/..//styles/colors';


.proyectos-container{
    padding-top: 90px;
    padding-bottom: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .hrMobile{
        display: none;
    }
    h1{
        font-family: $font;
        color: $white;
        font-size: $fontSizeTitle;
        text-transform: uppercase;
        padding-left: 150px;
        padding-right: 150px;
    }
    h3{
      font-family: $font;
      color: $white;
      font-size: $fontSizeSubTitle;
      padding-left: 150px;
      padding-right: 150px;
      text-transform: uppercase;
    }

    .proyectos-description{
        font-family: $font;
        color: $white;
        font-size: $fontSizeText;
        padding-top: 40px;
        padding-left: 150px;
        padding-right: 150px;
        display: flex;
        justify-content: space-between;
        strong{
          margin-right: 10px;
          font-weight:700;
        }
    }
    .proyecto-principal{
      display: flex;
      flex-direction: row;
      align-items:center;
      justify-content: space-evenly;

      p{
        display: flex;
        width: 40%;
        font-family: $font;
        color: $white;
        font-size: $fontSizeText;
        
      }
    }
    .before-after{
      font-family: $font;
      color: $white;
      font-size: $fontSizeSubTitle;
      text-transform: uppercase;
      padding-top: 50px;
      padding-left: 150px;
      padding-right: 150px;
    }
    .proyectos-grilla{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.card{
    display: grid;
    padding-top: 40px;
    padding-right: 40px;
    background-color: transparent;
    border: none;
    grid-template: 30px 250px 30px / 30px 250px 30px;
    position: relative;
    z-index: 1;


    .right {
        border-right: 1px solid white;
      }
      
    .bottom {
      border-bottom: 1px solid white;
    }
    
    .left {
      border-left: 1px solid white;
    }
    
    .top {
      border-top: 1px solid white;
    }
    
    main {
      display: flex;
      flex-direction: column;
      .proyectoScreen-img{
        overflow: hidden;
        
      }
      .proyecto-card{
        background-color: rgba(79, 64, 64, 0.611);
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;

        h4{
            text-transform: uppercase;
            font-family: $font;
            font-size: $fontSizeText;
            color: $white;
        }
        p{
            text-transform: capitalize;
            font-family: $font;
            font-size: $fontSizeText;
            color: $white;
        }
        hr{
            border-top: 1px solid white;
            width: 70%;
        }
        .proyecto-button{
          background-color: transparent;
          border: none;
          color: $white;
          font-family: $font;
          font-size: $fontSizeText;
          &:hover{
            color: $golden;
          }

        }
    }
  }
}


@media (max-width: 768px) {


}

@media (max-width: 576px) {

  .card{
    padding-top: 20px;
    padding-right: 0px;
    main {
      display: flex;
      flex-direction: column;
      .proyectoScreen-img{
        height: 100%;
        
      }
    }
  }

  .proyectos-container{

    .hrMobile{
      display: block;
      border: 1px solid $white;
      background-color: $white;
      width: 80%;
      align-self: center;
      
    }
    h1{
      font-family: $font;
      color: $white;
      font-size: $fontSizeTitleMobile;
      text-align: center;
      padding: 0;
    }
    h3{
      font-family: $font;
      color: $white;
      font-size: $fontSizeTitleMobile;
      text-align: center;
      padding: 0;
    }

    .proyectos-description{

        justify-content: center;
        font-size: $fontSizeSubTitleMobile;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;

    }
    .proyecto-principal{
      display: flex;
      flex-direction: column;


      p{
        
        width: 100%;
        font-size: $fontSizeText;
        padding-top: 50px;
        text-align: justify;
        padding-left: 20px; 
        padding-right: 20px;
        
      }
    }
    .before-after{
      font-family: $font;
      color: $white;
      font-size: $fontSizeSubTitle;
      text-transform: uppercase;
      padding-top: 50px;
      padding-left: 20px;
      padding-right: 0px;      
    }
  }

}

