
// @import url('http://fonts.cdnfonts.com/css/young');
@import url(//db.onlinewebfonts.com/c/3fd03159df057cb442664bb5299539e9?family=Young);

                

$font: 'Young', sans-serif;
$fontSizeTitle: 50px;
$fontSizeTitleMobile: 30px;
$fontSizeSubTitle: 25px;
$fontSizeSubTitleMobile: 20px;

$fontSizeText: 15px;


