@import './/../styles/fonts';
@import './/..//styles/colors';



@media (max-width: 768px) {
    #carouselExampleSlidesOnly{
        z-index: -1;
    }
}

@media (max-width: 576px) {
    #carouselExampleSlidesOnly{
        z-index: -1;
    }
    .carousel-item{
        img{
            height: 200px;
            z-index: 0;
        }
    }
}