
.navbar-container{
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    color: white;
}


.navbar-menu{
    display: flex;
    list-style: none;
    justify-content:flex-end ;
    
}
.navbar-menu li{
    padding-left: 20px;
}


